@font-face {
  font-family: Gotham;
  src: url('./Gotham/Gotham Medium/Gotham Medium.otf');
}
@font-face {
  font-family: GothamBold;
  src: url('./Gotham/Gotham Bold/Gotham Bold.otf');
}
@font-face {
  font-family: GothamRegular;
  src: url('./Gotham/Gotham Regular/Gotham Regular.otf');
}
@font-face {
  font-family: GothamThin;
  src: url('./Gotham/Gotham Thin/Gotham Thin.otf');
}
@font-face {
  font-family: GothamBook;
  src: url('./Gotham/Gotham Book/Gotham Book.otf');
}
@font-face {
  font-family: GothamBlack;
  src: url('./Gotham/Gotham Black/Gotham Black.otf');
}

* {
  padding: 0;
  margin: 0;
  font-family: Gotham, sans-serif;
  user-select: none;
}

body {
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: hidden;
  overflow-x: hidden;
}

.text-container {
  width: 100%;
  height: 100%;
  background: url('./img/oppenheimer-poster-min.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.text-container p {
  font-family: GothamBold, sans-serif;
  font-size: 16px;
  color: rgba(228, 203, 181, 0.9);
  letter-spacing: 8px;
}
.text-container span {
  font-family: Gotham, sans-serif;
  font-size: 10px;
  letter-spacing: 5px;
}
.oppenheimer {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}
.oppenheimer h1 {
  font-family: GothamBold, sans-serif;
  color: rgba(241, 99, 49, 255);
  letter-spacing: 12px;
  font-size: 50px;
  text-transform: uppercase;
}
.release-date {
  padding: 0 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.release-date p {
  font-family: Gotham, sans-serif;
  font-size: 24px;
}

.footer {
  position: fixed;
  bottom: 0;
  margin-bottom: 5vh;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
}

.menu li,
.menu a {
  cursor: pointer;
  font-family: GothamBook, sans-serif;
  font-size: 24px;
  margin: 10px 0;
  color: rgb(255, 247, 240);
}
.menu a {
  color: rgb(255, 247, 240);
  text-decoration: none;
}

.menu-item {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  margin-right: 10px;
  text-transform: uppercase;
}
.menu-item:after {
  content: '';
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.menu-item:hover:after {
  width: 100%;
  background: rgba(241, 99, 49, 255);
}

/* spotify  modal */
.modal-spotify {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-cast {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  z-index: 1;
  overflow-y: auto;
}
.modal-content-cast {
  background-color: #222;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  max-width: 80%;
  margin: 0 auto;
  position: relative;
}

.cast-members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  gap: 20px;
  overflow-y: auto;
}

.cast-card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cast-card img {
  width: 100px;
  height: auto;
}

.cast-card h2 {
  color: wheat;
  margin-top: 10px; /* Add some spacing between the avatar and the name */
}

iframe {
  width: 500px;
  height: 500px;
}

/* The Close Button */
.close-spotify,
.close-cast {
  color: rgba(228, 203, 181, 0.9);
  float: right;
  font-size: 50px;
  transition: color 0.3s ease;
}

.close-spotify:hover,
.close-cast:hover {
  color: red !important;
  text-decoration: none;
  cursor: pointer;
  z-index: 3;
}

.sparkle {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 30%;
  background: linear-gradient(
    to right,
    rgba(219, 113, 5, 255),
    rgba(224, 161, 4, 255),
    rgba(190, 45, 4, 255)
  );
  animation: sparkle ease-out infinite;
}

@keyframes sparkle {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) rotate(360deg);
    opacity: 0.3;
  }
}

@media screen and (max-width: 768px) {
  .text-container {
    height: 100%;
    padding-top: 40px;
    justify-content: space-between;
  }
  .text-container p {
    font-size: 13px;
    color: rgba(228, 203, 181, 1);
    letter-spacing: 6px;
  }
  .text-container span {
    font-size: 8px;
    letter-spacing: 3px;
  }
  .oppenheimer h1 {
    letter-spacing: 8px;
    font-size: 30px;
    color: rgba(249, 216, 16, 255);
  }
  .release-date {
    padding: 0 7px;
  }
  .release-date p {
    color: #fff;
    font-size: 18px;
  }

  .footer {
    align-self: left;
    margin-bottom: 10vh;
    text-align: center;
  }
  .menu {
    margin-left: 5px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .menu li,
  .menu a {
    font-size: 18px;
  }
  .modal-spotify {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  iframe {
    width: 300px;
    height: 400px;
  }
  .modal-cast {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    z-index: 1;
    overflow-y: auto;
  }
  .modal-content-cast {
    background-color: #222;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    max-width: 80%;
    margin: 5px auto;
    position: relative;
  }
  .cast-members {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cast-card {
    flex: 1 0 60px;
    text-align: center;
  }
  .cast-card img {
    width: 50px;
    height: auto;
  }

  .cast-card h2 {
    font-size: 15px;
    color: wheat;
    margin-top: 10px; /* Add some spacing between the avatar and the name */
  }
  .sparkle {
    width: 2px;
    height: 2px;
  }
}
